body {
	background: #33c1ff;
}
button {
	font-size: 17px;
	border-radius: 12px;
	padding: 17px 32px;
}

.linus {
	background: green;
}

.fiona {
	background: red;
}

.pwm button {
	background: orange;
}

.servo button {
	background: pink;
}